{{input type=type value=rawInputValue placeholder=placeholder class="form-control" name=valuePath}}

<div class="input-error">
  {{#if showMessage}}
    <div class="help-block">
      {{v-get model valuePath 'message'}}
    </div>
  {{/if}}
</div>
