<section id="home-slider" class="jumbotron horizontal-center">
  <div class="container">
    <div class="row">
      <div class="main-slider animate-in">
        <div class="slide-text">
          <h1>Insurance</h1>
          <p>It is the smart choice for protecting what matters most.</p>
          {{#link-to 'buy-insurance'}}\
          <span  class="btn btn-common">Buy insurance</span>
          {{/link-to}}
        </div>
        <img src="images/home/hill.png" class="slider-hill" alt="slider image">
        <img src="images/home/house.png" class="slider-house" alt="slider image">
        <img src="images/home/sun.png" class="slider-sun" alt="slider image">
        <img src="images/home/birds1.png" class="slider-birds1" alt="slider image">
        <img src="images/home/birds2.png" class="slider-birds2" alt="slider image">
      </div>
    </div>
  </div>

</section>
